$beige-1 : rgb(227 216 209);
$beige-2 : #CEC8C3;
$beige-3 : #d8c3b5;


$red-1 : rgba(219, 42, 42, 0.09);
$red-2 : rgb(168 154 154 / 20%);
$red-3 : rgba(219, 42, 42, 0.197);

$gray-2: rgba(58, 59, 74, 0.689);