.file_editor{
    padding-left: 5px;
    background-color: var(--red_1);

    .tabs{
        display: flex;
        border-bottom: 1px solid var(--gray_2);
        .tab{
            border-inline: 1px solid var(--gray_2);
            gap: 4px;
            display: flex;
            padding: 0px 10px;
        }
    }
}

.single_editor_wrapper{
    textarea{
        background-color: #fff;
        padding: 5px 0px 0px 10px;
        outline: none;
        border: none;
        resize: none;
        width: 100% !important;
        height: 100% !important;
    }
    height: 100%;
    width: 100%;
    .nav_dot{
        display: inline-block;
        background-color: var(--beige_3);
        width: 8px;
        aspect-ratio: 1;
        border-radius: 50%;
    }
    .nav_p{
        padding-inline: 4px;
    }
    .navigation_file{
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-bottom: 4px;
    }
}
.live_HTML_container{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 400px;
    width: 300px;
    border: 2px solid rgba(0, 0, 0, 0.324);
    border-right: none;
    border-bottom: none;
    padding: 10px;

    .hot_HTML{
        *, *::before, *::after{
            all: revert;
        }
    }

}