.settings{
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
    .close_settings{
        align-self: end;
        margin-right: 8px ;
        padding: 4px;
        cursor: pointer;
        &:hover{
            background-color: rgba(93, 93, 93, 0.165);
        }
    }
    .color_pallete{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px;
        column-gap: 10px;
        .color_display{
            gap: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            .color_block{
                width: 50px;
                height: 50px;
                border: none;
                background-color: transparent;
            }
            input{
                text-align: center;
            }
        }
    }
    .font_settings{
        option[value="Poppins"]{
            font-family: Poppins;
            font-weight: var(--base_font_weight);
        }
        option[value="Roboto"]{
            font-family: Roboto;
            font-weight: var(--base_font_weight);
        }
        option[value="Inter"]{
            font-family: Inter;
            font-weight: var(--base_font_weight);
        }
        option[value="Lato"]{
            font-family: Lato;
            font-weight: var(--base_font_weight);
        }
        option[value="Montserrat"]{
            font-family: Montserrat;
            font-weight: var(--base_font_weight);
        }
        option[value="Noto Sans Display"]{
            font-family: Noto;
            font-weight: var(--base_font_weight);
        }
        option[value="Open Sans"]{
            font-family: Open;
            font-weight: var(--base_font_weight);
        }
        option[value="Raleway"]{
            font-family: Raleway;
            font-weight: var(--base_font_weight);
        }
        option[value="Ubuntu"]{
            font-family: Ubuntu;
            font-weight: var(--base_font_weight);
        }
        option[value="Dancing Script"]{
            font-family: Dancing Script;
            font-weight: var(--base_font_weight);
        }
    }
}