.sidebar {
  background-color: var(--red_2);
  border-right: 1px solid var(--beige_3);
  display: flex;
  flex-direction: column;
}

.node_system {
  height: auto;
}

.node_name {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
  font-size: 12px;
  svg {
    pointer-events: none;
    fill: var(--gray_2);
    path {
      pointer-events: none;
      fill: var(--gray_2);
      stroke: var(--gray_2) !important;
    }
  }
  .toggle_show {
    transition: all 500ms;
    pointer-events: all;
  }
  span {
    pointer-events: none;
  }
  &:hover {
    background-color: var(--beige_2);
  }
  input {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-block: 1px 1.5px;
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.folder{
  .show_children {
    display: block;
  }
  .hide_children {
    display: none;
  }

  .children{
    overflow: hidden;
    transition: all 500ms;
  }
  
}

.header {
  display: flex;
  justify-content: space-evenly;
}

.create_node_options {
  display: flex;
  gap: 4px;
}

.filler {
  width: 100%;
  height: 100%;
}

.index_line {
  pointer-events: none;
  --higherIndex: 0;

  &::before {
    z-index: 2;
    position: absolute;
    content: "";
    left: calc(var(--higherIndex) * 10px - 6px);
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: black;
  }
}

.node_children {
  transition: all 500ms;
  position: relative;
}

.create_node_form {
  display: flex;
  align-items: center;
  gap: 4px;
}

.create_node_form form input {
  width: 20ch;
}

.context_menu_wrapper {
  z-index: 2;
  background-color: #fff;
  gap: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  padding: 10px 10px;
  border-radius: 5px;
  width: 150px;
  display: flex;
  flex-direction: column;
  .none {
    opacity: 0 !important;
  }
  .delete {
    margin-bottom: 4px;
  }
  .path_options {
    position: relative;
    display: flex;
    justify-content: space-between;
    p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 0.7em;
    }
    svg {
      min-width: 18px;
      padding-left: 3px;
      cursor: pointer;
    }
    .clipboard_text {
      width: max-content;
      transition: all 1000ms;
      position: absolute;
      bottom: -100%;
      left: 100%;
      background-color: rgba(27, 27, 27, 0.383);
      padding: 5px 10px;
      color: white;
      border-radius: 5px;
    }
    &::before {
      content: "";
      position: absolute;
      top: -5px;
      height: 1px;
      background-color: black;
      left: 0;
      right: 0;
      border-radius: 1px;
    }
  }
  .option {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
    border-radius: 5px;
    &:hover {
      background-color: rgb(237, 237, 237);
    }
  }

  path {
    pointer-events: none;
  }
}

.sidebar_footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-inline: 5px;
  margin-bottom: 5px;
  svg {
    cursor: pointer;
  }
  .settings_wrapper {
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
    position: absolute;
    bottom: calc(100% + 5px);
    .settings {
      display: flex;
      flex-direction: column;
      gap: 4px;
      p {
        padding: 4px;
        cursor: pointer;
        font-size: 0.9em;
        &:hover {
          background-color: rgba(93, 93, 93, 0.165);
        }
      }
    }
  }
}
